<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jugadores</title>
</head>
<body>
{% if error %}
   <h1 style="color:green;">{{error}}</h1>
{% endif %}

<h1> Cargar Jugadores </h1>

<form method="post">
    {% csrf_token %}
        <label>Nombre</label>
            <input type="text" name="nombre" >
         <label>Numero</label>
            <input type="number" name="numero" >
            <input type="submit" value="submitir" >
</form>

<ul>
    {% for item in lista %}
        <li> {{ item.nombre }} {{ item.numero }} </li>
    {% endfor %}

</ul>

</body>
</html>